<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Buttons</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../../dist/css/ratchet-plus.css" rel="stylesheet">

	</head>
	<body>

		<header class="bar bar-nav bar-light bg-faded">
		  <h1 class="title">Buttons</h1>
		</header>

	<div class="content">
		<div class="content-padded">

			<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
			<p><button type="button" class="btn btn-primary">Primary</button></p>

			<!-- Secondary, outline button -->
			<p><button type="button" class="btn btn-secondary">Secondary</button></p>

			<!-- Indicates a successful or positive action -->
			<p><button type="button" class="btn btn-success">Success</button></p>

			<!-- Contextual button for informational alert messages -->
			<p><button type="button" class="btn btn-info">Info</button></p>

			<!-- Indicates caution should be taken with this action -->
			<p><button type="button" class="btn btn-warning">Warning</button></p>

			<!-- Indicates a dangerous or potentially negative action -->
			<p><button type="button" class="btn btn-danger">Danger</button></p>

			<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
			<p><button type="button" class="btn btn-link">Link</button></p>


		</div>
	</div>



	</body>
</html>
