//
// Badges
// --------------------------------------------------

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  color: $badge-color;
  background-color: rgba(0,0,0,.15);
  @include border-radius();

  // Empty tags collapse automatically
  &:empty {
    display: none;
  }

  // Inverted badges have no background.
  &.badge-inverted {
    padding: 0 .3125rem 0 0;
    background-color: transparent;
  }
}


// Colors
//
// Contextual variations (linked tags get darker on :hover).

.badge-default {
  @include badge-variant($badge-default-bg);

  &.badge-inverted {
    color: $badge-default-bg;
  }
}

.badge-primary {
  @include badge-variant($badge-primary-bg);

  &.badge-inverted {
    color: $badge-primary-bg;
  }
}

// Success badge
.badge-success {
  @include badge-variant($badge-success-bg);

  &.badge-inverted {
    color: $badge-success-bg;
  }
}

// Info badge
.badge-info {
  @include badge-variant($badge-info-bg);

  &.badge-inverted {
    color: $badge-info-bg;
  }
}

// Warning badge
.badge-warning {
  @include badge-variant($badge-warning-bg);

  &.badge-inverted {
    color: $badge-warning-bg;
  }
}

// Danger badge
.badge-danger {
  @include badge-variant($badge-danger-bg);

  &.badge-inverted {
    color: $badge-danger-bg;
  }
}


.badge-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
}

.badge-outline {
  padding-right: $badge-outline-padding-x;
  padding-left: $badge-outline-padding-x;
  background-color: transparent;
  border-radius: $badge-outline-border-radius;
  border: $badge-outline-border-width solid $gray-dark;

  &.badge-default {
    border-color: $badge-default-bg;
    color: $gray-light;
  }

  &.badge-primary {
    border-color: $badge-primary-bg;
    color: $badge-primary-bg;
  }

  &.badge-success {
    border-color: $badge-success-bg;
    color: $badge-success-bg;
  }

  &.badge-info {
    border-color: $badge-info-bg;
    color: $badge-info-bg;
  }
  &.badge-warning {
    border-color: $badge-warning-bg;
    color: $badge-warning-bg;
  }
  &.badge-danger {
    border-color: $badge-danger-bg;
    color: $badge-danger-bg;
  }
}
