//
// Buttons
// --------------------------------------------------

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 8px 7px;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: $gray-lightest;
  border: $border-width solid #ccc;
  border-radius: 3px;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);

  // Active & filled button styles
  &:active,
  &.active {
    color: inherit; // Overriding the global style for all anchors.
    background-color: #ccc;
  }

  // Disabled styles & filled button active styles
  &:disabled,
  &.disabled {
    opacity: .6;
  }
}


// Other button types
// --------------------------------------------------

// Primary button
.btn-primary {
  color: #fff;
  background-color: $brand-primary;
  border: 1px solid $brand-primary;

  &:active,
  &.active {
    color: #fff;
    background-color: darken($brand-primary, 10%);
    border: 1px solid darken($brand-primary, 10%);
  }
}

// Success button 
.btn-success {
  color: #fff;
  background-color: $brand-success;
  border: 1px solid $brand-success;

  &:active,
  &.active {
    color: #fff;
    background-color: darken($brand-success, 10%);
    border: 1px solid darken($brand-success, 10%);
  }
}

// Info button 
.btn-info {
  color: #fff;
  background-color: $brand-info;
  border: 1px solid $brand-info;

  &:active,
  &.active {
    color: #fff;
    background-color: darken($brand-info, 10%);
    border: 1px solid darken($brand-info, 10%);
  }
}

// Warning button 
.btn-warning {
  color: #fff;
  background-color: $brand-warning;
  border: 1px solid $brand-warning;

  &:active,
  &.active {
    color: #fff;
    background-color: darken($brand-warning, 10%);
    border: 1px solid darken($brand-warning, 10%);
  }
}

// Danger button
.btn-danger {
  color: #fff;
  background-color: $brand-danger;
  border: 1px solid $brand-danger;

  &:active,
  &.active {
    color: #fff;
  background-color: darken($brand-danger, 10%);
  border: 1px solid darken($brand-danger, 10%);
  }
}

// Outlined buttons
.btn-outlined {
  background-color: transparent;

  &.btn-primary {
    color: $brand-primary;
  }
  &.btn-success {
    color: $brand-success;
  }
  &.btn-info {
    color: $brand-info;
  }
  &.btn-warning {
    color: $brand-warning;
  }
  &.btn-danger {
    color: $brand-danger;
  }
  // Active states
  &.btn-primary:active,
  &.btn-success:active,
  &.btn-info:active,
  &.btn-warning:active,
  &.btn-danger:active {
    color: #fff;
  }
}

// Link button (Buttons that look like links)
.btn-link {
  padding-top: 6px;
  padding-bottom: 6px;
  color: $brand-primary;
  background-color: transparent;
  border: 0;

  &:active,
  &.active {
    color: darken($brand-primary, 10%);
    background-color: transparent;
  }
}

// Block level buttons (full width buttons)
.btn-block {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  font-size: 18px;
}


// Button overrides
// --------------------------------------------------

input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 100%;
}


// Buttons with badges
// --------------------------------------------------

// Generic styles for all badges within default buttons
.btn .badge {
  margin: -2px -4px -2px 4px;
  font-size: 12px;
  background-color: rgba(0,0,0,.15);
}

// Buttons with inverted badges
.btn .badge-inverted,
.btn:active .badge-inverted {
  background-color: transparent;
}
.btn-primary:active .badge-inverted,
.btn-positive:active .badge-inverted,
.btn-negative:active .badge-inverted {
  color: #fff;
}

// Position badges within block level buttons
// Note: These are absolutely positioned so that text of button isn't "pushed" by badge and always
// stays at the center of button
.btn-block .badge {
  position: absolute;
  right: 0;
  margin-right: 10px;
}


// Buttons with Ratchicons
// --------------------------------------------------

.btn .icon {
  font-size: inherit;
}
