/*
 * modal 모달  
 * ----------------------------------------------------------------------------
 */

.modal {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: -webkit-transform .25s, opacity 1ms .25s;
     -moz-transition: -moz-transform .25s, opacity 1ms .25s;
          transition: transform .25s, opacity 1ms .25s;
  @include transform(translate3d(0, 100%, 0));

  // Active modal
  &.active {
    height: 100%;
    opacity: 1;
    -webkit-transition: -webkit-transform .25s;
       -moz-transition: -moz-transform .25s;
            transition: transform .25s;
    @include transform(translate3d(0, 0, 0));
  }
}



// 권기택

.modal {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: -webkit-transform .25s, opacity 1ms .25s;
    -moz-transition: -moz-transform .25s, opacity 1ms .25s;
    transition: transform .25s, opacity 1ms .25s;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.modal.active {
    height: 100%;
    opacity: 1;
    -webkit-transition: -webkit-transform .25s;
    -moz-transition: -moz-transform .25s;
    transition: transform .25s;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.modal.zoom {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    visibility: hidden;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.modal.zoom.active {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}