// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: inline-block;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text and removes hover/tab effects
  &.disabled {
    color: $nav-disabled-link-color;

    @include plain-hover-focus {
      color: $nav-disabled-link-hover-color;
      cursor: $cursor-disabled;
      background-color: $nav-disabled-link-hover-bg;
    }
  }
}

.bar {
  .nav-link {
    padding: $bar-side-spacing 0;
  }
}

// Nav inline

.nav-inline {
  .nav-item {
    display: inline-block;
  }

  .nav-item + .nav-item,
  .nav-link + .nav-link {
    margin-left: $nav-item-inline-spacer;
  }
}

.bar {
  .nav-inline {
    .nav-link {
      position: relative;;
      display: table-cell;
      width: 1%;
      overflow: hidden;
      padding: $bar-side-spacing 0;
      line-height: 1.5;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $brand-primary;

      &.active:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: .125rem;
        background-color: $brand-primary;
        content: '';
      }
    }

    .nav-link + .nav-link {
      margin-left: $nav-item-inline-spacer;
    }
  }

  &.bar-light {
    .nav-inline {
      .nav-link {
        color: $brand-primary;

        &.active:after {
          background-color: $brand-primary;
        }
      }
    }
  }
  &.bar-dark {
    .nav-inline {
      .nav-link {
        color: $gray-lightest;

        &.active:after {
          background-color: $gray-lightest;
        }
      }
    }
  }
}




//
// Tabs
//

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  @include clearfix();

  .nav-item {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -$nav-tabs-border-width;

    + .nav-item {
      margin-left: $nav-item-margin;
    }
  }

  .nav-link {
    display: block;
    padding: $nav-link-padding;
    border: $nav-tabs-border-width solid transparent;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus {
      border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
    }

    &.disabled {
      @include plain-hover-focus {
        color: $nav-disabled-link-color;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }

  .nav-link.active,
  .nav-item.open .nav-link {
    @include plain-hover-focus {
      color: $nav-tabs-active-link-hover-color;
      background-color: $nav-tabs-active-link-hover-bg;
      border-color: $nav-tabs-active-link-hover-border-color $nav-tabs-active-link-hover-border-color transparent;
    }
  }
}


//
// Pills
//

.nav-pills {
  @include clearfix();

  .nav-item {
    float: left;

    + .nav-item {
      margin-left: $nav-item-margin;
    }
  }

  .nav-link {
    display: block;
    padding: $nav-link-padding;
    @include border-radius($nav-pills-border-radius);
  }

  .nav-link.active,
  .nav-item.open .nav-link {
    @include plain-hover-focus {
      color: $nav-pills-active-link-color;
      cursor: default;
      background-color: $nav-pills-active-link-bg;
    }
  }
}

.nav-stacked {
  .nav-item {
    display: block;
    float: none;

    + .nav-item {
      margin-top: $nav-item-margin;
      margin-left: 0;
    }
  }
}


//
// Tabbable tabs
//

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

//
// Nav controllers
// --------------------------------------------------

.bar {
  .nav-control{
    top: $btn-padding-y
  }
}

.nav-control {
  position: relative;
  display: table;
  overflow: hidden;
  font-size: .75rem;
  font-weight: $font-weight-light;
  background-color: $gray-lighter;
  border: .0625rem solid $btn-secondary-border;
  border-radius: $border-radius;

  // Section within controller
  .nav-link {
    display: table-cell;
    width: 1%;
    padding-top: .375rem;
    padding-bottom: .4375rem;
    overflow: hidden;
    line-height: 1;
    background-color: $gray-lighter;;
    color: $gray-light;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: .0625rem solid $btn-secondary-border;

    // Remove border-left and shadow from first section
    &:first-child {
      border-left-width: 0;
    }

    // Tap state of segmented controller
    &:active {
      background-color: lighten($gray-light, 35%);
    }

    // Selected state of segmented controller
    &.active {
      background-color: #fff;
      color: $gray;
    }
  }

    // Other nav controller types
    // --------------------------------------------------

    // Primary
    &.bg-primary {
      border-color: $brand-primary;

      .nav-link {
        color: $brand-primary;
        background-color: #fff;
        border-color: $brand-primary;

        &:active {
          background-color: lighten($brand-primary, 35%);
        }
        &.active {
          color: $gray-lightest;
          background-color: $brand-primary;
        }
      }
    }

    // Success
    &.bg-success {
      border-color: $brand-success;

      .nav-link {
        color: $brand-success;
        background-color: #fff;
        border-color: $brand-success;

        &:active {
          background-color: lighten($brand-success, 35%);
        }
        &.active {
          color: $gray-lightest;
          background-color: $brand-success;
        }
      }
    }

    // Info
    &.bg-info {
      border-color: $brand-info;

      .nav-link {
        color: $brand-info;
        background-color: #fff;
        border-color: $brand-info;

        &:active {
          background-color: lighten($brand-info, 35%);
        }
        &.active {
          color: #fff;
          background-color: $brand-info;
        }
      }
    }

    // Warning
    &.bg-warning {
      border-color: $brand-warning;

      .nav-link {
        color: $brand-warning;
        background-color: #fff;
        border-color: $brand-warning;

        &:active {
          background-color: lighten($brand-warning, 35%);
        }
        &.active {
          color: $gray-lightest;
          background-color: $brand-warning;
        }
      }
    }

    // Danger
    &.bg-danger {
      border-color: $brand-danger;

      .nav-link {
        color: $brand-danger;
        background-color: #fff;
        border-color: $brand-danger;

        &:active {
          background-color: lighten($brand-danger, 35%);
        }
        &.active {
          color: $gray-lightest;
          background-color: $brand-danger;
        }
      }
    }

}
