//
// Segmented controllers
// --------------------------------------------------

.segmented-control {
  position: relative;
  display: table;
  overflow: hidden;
  font-size: 12px;
  font-weight: $font-weight-light;
  background-color: $gray-lighter;
  border: 1px solid #ccc;
  border-radius: 3px;

  // Section within controller
  .control-item {
    display: table-cell;
    width: 1%;
    padding-top: 6px;
    padding-bottom: 7px;
    overflow: hidden;
    line-height: 1;
    color: #333;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid #ccc;

    // Remove border-left and shadow from first section
    &:first-child {
      border-left-width: 0;
    }

    // Tap state of segmented controller
    &:active {
      background-color: #eee;
    }

    // Selected state of segmented controller
    &.active {
      background-color: #ccc;
    }
  }
}

// Other segmented controller types
// --------------------------------------------------

// Primary
.segmented-control-primary {
  border-color: $brand-primary;

  .control-item {
    color: $brand-primary;
    border-color: inherit;

    &:active {
      background-color: lighten($brand-primary, 35%);
    }
    &.active {
      color: #fff;
      background-color: $brand-primary;
    }
  }
}

// Success
.segmented-control-success {
  border-color: $brand-success;

  .control-item {
    color: $brand-success;
    border-color: inherit;

    &:active {
      background-color: lighten($brand-success, 35%);
    }
    &.active {
      color: #fff;
      background-color: $brand-success;
    }
  }
}

// Info
.segmented-control-info {
  border-color: $brand-info;

  .control-item {
    color: $brand-info;
    border-color: inherit;

    &:active {
      background-color: lighten($brand-info, 35%);
    }
    &.active {
      color: #fff;
      background-color: $brand-info;
    }
  }
}

// Warning
.segmented-control-warning {
  border-color: $brand-warning;

  .control-item {
    color: $brand-warning;
    border-color: inherit;

    &:active {
      background-color: lighten($brand-warning, 35%);
    }
    &.active {
      color: #fff;
      background-color: $brand-warning;
    }
  }
}

// Danger
.segmented-control-danger {
  border-color: $brand-danger;

  .control-item {
    color: $brand-danger;
    border-color: inherit;

    &:active {
      background-color: lighten($brand-danger, 35%);
    }
    &.active {
      color: #fff;
      background-color: $brand-danger;
    }
  }
}

// This is used to by the js to show and hide content tide to the segmented control.
.control-content {
  display: none;

  &.active {
    display: block;
  }
}
