//
// Table views
// --------------------------------------------------

.table-view {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: $table-view-margin-bottom;
  list-style: none; // Remove usual bullet styles from table view
  background-color: $table-view-bg;;
  border-top: $border-default;
  border-bottom: $border-default;
}

// Pad each table view item and add dividers
.table-view-cell {
  position: relative;
  padding: $table-view-cell-padding-y $table-view-cell-padding-right $table-view-cell-padding-y $table-view-cell-padding-left;
  overflow: hidden;
  border-bottom: $border-default;

  // Remove the border from the last table view item
  &:last-child {
    border-bottom: 0;
  }
  // If it's a table view of links, make sure the child <a> takes up full table view item tap area (want to avoid selecting child buttons though)
  > a:not(.btn) {
    position: relative;
    display: block;
    padding: inherit;
    margin: (-$table-view-cell-padding-y) (-$table-view-cell-padding-right) (-$table-view-cell-padding-y) (-$table-view-cell-padding-left); // Make the entire list item tappable.
    overflow: hidden;
    color: inherit;

    &:active {
      background-color: $table-view-cell-active-color;
    }
  }
  p {
    margin-bottom: 0;
    font-size: .875rem;
    color: $gray-light;
  }
  .btn {
    padding: .375rem .5rem .4375rem;
    font-size: .75rem;
  }
}


// Table view dividers
// --------------------------------------------------

.table-view-divider {
  padding-top: $table-view-divider-padding-y;
  padding-bottom: $table-view-divider-padding-y;
  padding-left: $table-view-divider-padding-left;
  margin-top: -.0625rem; // Hides the border of the previous list item
  margin-left: 0;
  font-weight: $font-weight;
  color: $gray;
  background-color: $gray-lighter;
  border-top: $border-default;
  border-bottom: $border-default;
}


// Table-views with media (images,avatars, icons)
// --------------------------------------------------

.table-view .media,
.table-view .media-body {
  overflow: hidden;
}
.table-view .media-object {
  &.pull-left {
    margin-right: $table-view-media-margin-x;
  }
  &.pull-right {
    margin-left: $table-view-media-margin-x;
  }
}


// Table-views with buttons, badges , switches and select
// --------------------------------------------------
.table-view-cell,
.table-view-cell > a {
  > .btn,
  > .badge,
  > .select,
  > .switch {
    position: absolute;
    top: 50%;
    right: .9375rem;
    @include transform(translateY(-50%));
  }

  // If the cell has a chevron, give some more room.
  .navigate-left,
  .navigate-right,
  .push-left,
  .push-right {
    > .btn,
    > .badge,
    > .select,
    > .switch {
      right: 2.1875rem;
    }
  }
}

// If the table view is the first component, give it extra margin on top.
.content > .table-view:first-child {
  margin-top: .9375rem;
}


// Table-views with checkbox & radio
// --------------------------------------------------

.table-view-cell.checkbox,
.table-view-cell.radio {
  padding-right: .9375rem;

  .custom-control {
    display: block;
    margin-bottom: 0;
    padding-left: 2.3rem;

    .custom-control-input {
  		width: 100%
  	}
  	.custom-control-indicator {
    	top: 50%;
  		transform: translateY(-50%);
  	}
    .custom-control-description {
      display: block;
  	}
  }
}

// Table-views with controls
// --------------------------------------------------


.table-view-cell.control {
  padding-left: 3.125rem;

  > a:not(.btn) {
    margin-left: -3.125rem
  }

  .custom-control {
    position: absolute;
    top: 50%;
    left: .625rem;
    z-index: 1;

    .custom-control-input {
      width: 2.8125rem;
      left: -.625rem;
      top: -1.4375rem;
      height: 2.875rem;
    }
    .custom-control-indicator {
      top: 0;
      left: 0;
      transform: translateY(-50%);
    }

  }
}


// Table-views with select
// --------------------------------------------------

.table-view-cell .select select {
	padding-right: 2rem;
  appearance: none;
  border: none;
  background: #fff;
  color: #333;
  text-indent: .01px;
  text-overflow: '';
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
  direction: rtl;

  option {
    direction: ltr;
  }
}




// Nesting Table-views
// --------------------------------------------------

.table-view {

  /*2depth*/
  .table-view {
    margin-top: $table-view-cell-padding-y;
    margin-bottom: (-$table-view-cell-padding-y) + -.0625rem;
    margin-left: (-$table-view-cell-padding-left);
    margin-right: (-$table-view-cell-padding-right);
    border-bottom: none;

    .table-view-cell {
      padding-left: ($table-view-cell-padding-left * 2);
    }
    .table-view-cell a {
      margin-left: (-$table-view-cell-padding-left * 2);
    }

    /*3depth*/
    .table-view {
      margin-left: (-$table-view-cell-padding-left * 2);

      .table-view-cell {
        padding-left: ($table-view-cell-padding-left * 3);
      }
      .table-view-cell a {
        margin-left: (-$table-view-cell-padding-left * 3);
      }

      /*4depth*/
      .table-view {
        margin-left: (-$table-view-cell-padding-left * 3);

        .table-view-cell {
          padding-left: ($table-view-cell-padding-left * 4);
        }
        .table-view-cell a {
          margin-left: (-$table-view-cell-padding-left * 4);
        }
      }
    }
  }
}

// Table-view backgrounds
//

// Generate the contextual variants
@include table-view-cell-variant(active, $table-view-bg-active);
@include table-view-cell-variant(success, $state-success-bg);
@include table-view-cell-variant(info, $state-info-bg);
@include table-view-cell-variant(warning, $state-warning-bg);
@include table-view-cell-variant(danger, $state-danger-bg);



// Inverse styles
//
// Same table markup, but inverted color scheme—dark background and light text.

.table-view-inverse {
  color: $gray-lighter;
  background-color: $gray-dark;
  border-top: none;
  border-bottom: none;

  .table-view-cell {
    border-color: $gray;

    > a:not(.btn) {
      color: $gray-lightest;

      &:active {
        background-color: $gray;
      }
    }
    p {
      color: $gray-light;
    }
    .badge {
      color: $gray-lighter;
      background-color: $gray;
    }
    .btn {
      color: $gray-lighter;
      background-color: $gray;

      &.btn-primary {
        @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
      }
      &.btn-secondary {
        @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
      }
      &.btn-info {
        @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
      }
      &.btn-success {
        @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
      }
      &.btn-warning {
        @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
      }
      &.btn-danger {
        @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
      }

    }

  }

  .table-view-divider {
    color: #fff;
    background-color: $gray;
    border-color: $gray-dark;
  }
}
