<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>input-group</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../../dist/css/rc.css" rel="stylesheet">

	</head>
	<body>

		<header class="bar bar-nav bar-light bg-faded">
		  <a href class="title">Sizing</a>
		</header>

		<div class="content">
			<div class="content-padded">

				<div class="input-group input-group-lg">
				  <span class="input-group-addon" id="sizing-addon1">@</span>
				  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
				</div>
				<br>
				<div class="input-group">
				  <span class="input-group-addon" id="sizing-addon2">@</span>
				  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
				</div>

			</div>
		</div>

	</body>
</html>
