.loader-overlay {
  background-color: rgba(255, 255, 255, 1);
}
.loader-overlay .loader-wrapper.custom {
  padding: 15px;
  background-color: #fff;
  color: #444;
  border-radius: 3px;
  box-shadow: none;
  line-height: 40px;
  font-weight: 500;
  font-size: 1.1em;
}
.rb-fading-circle {
  margin: 0 auto 15px;
  width: 60px;
  height: 60px;
  position: relative;
}

.rb-fading-circle .rb-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.rb-fading-circle .rb-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #777;
  border-radius: 100%;
  -webkit-animation: rb-circleFadeDelay 1.2s infinite ease-in-out both;
        animation: rb-circleFadeDelay 1.2s infinite ease-in-out both;
}
.rb-fading-circle .rb-circle2 {
  -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
        transform: rotate(30deg);
}
.rb-fading-circle .rb-circle3 {
  -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
        transform: rotate(60deg);
}
.rb-fading-circle .rb-circle4 {
  -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}
.rb-fading-circle .rb-circle5 {
  -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
        transform: rotate(120deg);
}
.rb-fading-circle .rb-circle6 {
  -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
        transform: rotate(150deg);
}
.rb-fading-circle .rb-circle7 {
  -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
}
.rb-fading-circle .rb-circle8 {
  -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
        transform: rotate(210deg);
}
.rb-fading-circle .rb-circle9 {
  -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
        transform: rotate(240deg);
}
.rb-fading-circle .rb-circle10 {
  -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
        transform: rotate(270deg);
}
.rb-fading-circle .rb-circle11 {
  -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
        transform: rotate(300deg);
}
.rb-fading-circle .rb-circle12 {
  -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
        transform: rotate(330deg);
}
.rb-fading-circle .rb-circle2:before {
  -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
}
.rb-fading-circle .rb-circle3:before {
  -webkit-animation-delay: -1s;
        animation-delay: -1s;
}
.rb-fading-circle .rb-circle4:before {
  -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
}
.rb-fading-circle .rb-circle5:before {
  -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
}
.rb-fading-circle .rb-circle6:before {
  -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
}
.rb-fading-circle .rb-circle7:before {
  -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
}
.rb-fading-circle .rb-circle8:before {
  -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
}
.rb-fading-circle .rb-circle9:before {
  -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
}
.rb-fading-circle .rb-circle10:before {
  -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
}
.rb-fading-circle .rb-circle11:before {
  -webkit-animation-delay: -0.2s;
        animation-delay: -0.2s;
}
.rb-fading-circle .rb-circle12:before {
  -webkit-animation-delay: -0.1s;
        animation-delay: -0.1s;
}

@-webkit-keyframes rb-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes rb-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

.loading-spinner .rb-text {
  display: block;
  margin-top: 15px;
  font: 12px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
