<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>modal</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link href="http://kimsq.github.io/rc/dist/css/ratchet.css" rel="stylesheet">
<link href="http://kimsq.github.io/rc/dist/css/rc-plus.css" rel="stylesheet">


<link rel="stylesheet" href="./style.css">

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="http://kimsq.github.io/rc/dist/js/rc-component.js"></script>
<script src="http://kimsq.github.io/rc/dist/js/rc-control.js"></script>
<script src="http://kimsq.github.io/rc/dist/js/rc-extension.js"></script>

</head>
<body>
    

<header class="bar bar-nav">
    <h1 class="title">Modal Static example</h1>
</header>

<div class="content">

	<div class="content-padded">
		<button class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Launch demo modal </button>
	</div>

</div>

<!-- modal 시작 -->
<div id="myModal" class="modal">
	<header class="bar bar-nav">
		<a class="icon icon-close pull-right" data-dismiss="modal"></a>
		<h1 class="title">Modal</h1>
	</header>

	<div class="content">
		<p class="content-padded">The contents of my modal go here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
	</div>
</div>


</body>
</html>
