<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>bar-standard</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../../../dist/css/ratchet-plus.css" rel="stylesheet">

	</head>
	<body>

		<!-- Segmented control in standard bar fixed to top -->
		<nav class="bar bar-standard bar-dark bg-inverse">
		  <div class="segmented-control">
		    <a class="control-item active">Thing one</a>
		    <a class="control-item">Thing two</a>
		    <a class="control-item">Thing three</a>
		  </div>
		</nav>

		<!-- Block button in standard bar fixed below top bar -->
		<div class="bar bar-standard bar-header-secondary bar-dark bg-inverse">
		  <button class="btn btn-block">Block level button</button>
		</div>

		<!-- Block button in standard bar fixed above the footer -->
		<div class="bar bar-standard bar-footer-secondary bar-dark bg-inverse">
		  <button class="btn btn-block">Block level button</button>
		</div>

		<!-- Icons in standard bar fixed to the bottom of the screen -->
		<div class="bar bar-standard bar-footer bar-dark bg-inverse">
		  <a class="icon icon-compose pull-left"></a>
		  <a class="icon icon-gear pull-right"></a>
		</div>

	</body>
</html>
