<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Button groupns</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../../dist/css/rc.css" rel="stylesheet">
		<link href="../../../dist/css/extra/rc-button-group.css" rel="stylesheet">

	</head>
	<body>

		<header class="bar bar-nav bar-light bg-faded">
		  <h1 class="title">Button toolbar</h1>
		</header>

		<div class="content">
			<div class="content-padded">

				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
				  <div class="btn-group" role="group" aria-label="First group">
				    <button type="button" class="btn btn-secondary">1</button>
				    <button type="button" class="btn btn-secondary">2</button>
				    <button type="button" class="btn btn-secondary">3</button>
				    <button type="button" class="btn btn-secondary">4</button>
				  </div>
				  <div class="btn-group" role="group" aria-label="Second group">
				    <button type="button" class="btn btn-secondary">5</button>
				    <button type="button" class="btn btn-secondary">6</button>
				    <button type="button" class="btn btn-secondary">7</button>
				  </div>
				  <div class="btn-group" role="group" aria-label="Third group">
				    <button type="button" class="btn btn-secondary">8</button>
				  </div>
				</div>

			</div>
		</div>

	</body>
</html>
