<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>popover</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link href="http://kimsq.github.io/rc/dist/css/ratchet.css" rel="stylesheet">
<link href="http://kimsq.github.io/rc/dist/css/rc-plus.css" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/js/ratchet.js"></script>

</head>
<body>
    
<header class="bar bar-nav">
    <a href="#myPopover" data-toggle="popover">
        <h1 class="title">
      Popover Static example
      <span class="icon icon-caret"></span>
    </h1>
    </a>
</header>

<div class="content">
    <div class="content-padded">
        내용
    </div>
</div>

<!-- Popover 시작 -->
<div id="myPopover" class="popover">
    <header class="bar bar-nav">
        <h1 class="title">Popover title</h1>
    </header>
    <ul class="table-view">
        <li class="table-view-cell">Item1</li>
        <li class="table-view-cell">Item2</li>
        <li class="table-view-cell">Item3</li>
        <li class="table-view-cell">Item4</li>
        <li class="table-view-cell">Item5</li>
        <li class="table-view-cell">Item6</li>
        <li class="table-view-cell">Item7</li>
        <li class="table-view-cell">Item8</li>
    </ul>
</div>




</body>
</html>
