<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>utilities</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../../dist/css/ratchet-plus.css" rel="stylesheet">

	</head>
	<body>

		<header class="bar bar-nav bar-light bg-faded">
		  <a href class="title">Text alignment</a>
		</header>

		<div class="content">
			<div class="content-padded">
				<p class="text-justify">Justified text.</p>
				<p class="text-nowrap">No wrap text.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>


				<hr>

				<p class="text-xs-left">Left aligned text on all viewport sizes.</p>
				<p class="text-xs-center">Center aligned text on all viewport sizes.</p>
				<p class="text-xs-right">Right aligned text on all viewport sizes.</p>

				<p class="text-sm-left">Left aligned text on viewports sized SM (small) or wider.</p>
				<p class="text-md-left">Left aligned text on viewports sized MD (medium) or wider.</p>
				<p class="text-lg-left">Left aligned text on viewports sized LG (large) or wider.</p>
				<p class="text-xl-left">Left aligned text on viewports sized XL (extra-large) or wider.</p>


			</div>
		</div>

	</body>
</html>
