/* Your app's CSS, make it your own */


#tree .navigate-right.collapsed:after {
  content: '\e826';
}
#tree .navigate-right:after {
  content: '\e820';
}

.snap-drawer .table-view .table-view {
  background-color: #f6f6f8;
}

.snap-drawer .bar .title {
  text-align: left;
  padding-left: 15px
}
