<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>nav</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../../dist/css/rc.css" rel="stylesheet">

	</head>
	<body>

		<header class="bar bar-nav bar-light bg-faded">
			<h1 class="title">Controls</h1>
		</header>

		<div class="bar bar-standard bar-header-secondary bar-light bg-faded">
			<div class="nav nav-control">
				<a class="nav-link active">One</a>
				<a class="nav-link">Two</a>
				<a class="nav-link">Three</a>
			</div>
		</div>

		<div class="bar bar-standard bar-footer bar-light bg-faded">
			<div class="nav nav-control">
				<a class="nav-link active">One</a>
				<a class="nav-link">Two</a>
				<a class="nav-link">Three</a>
			</div>
		</div>

		<div class="content">
			<div class="content-padded">

				<br><br>

				<div class="nav nav-control">
					<a class="nav-link active">One</a>
					<a class="nav-link">Two</a>
					<a class="nav-link">Three</a>
				</div>

				<br>

				<div class="nav nav-control bg-primary">
					<a class="nav-link active">One</a>
					<a class="nav-link">Two</a>
					<a class="nav-link">Three</a>
				</div>

				<br>

				<div class="nav nav-control bg-success">
					<a class="nav-link active">One</a>
					<a class="nav-link">Two</a>
					<a class="nav-link">Three</a>
				</div>

				<br>
				<div class="nav nav-control bg-info">
					<a class="nav-link active">One</a>
					<a class="nav-link">Two</a>
					<a class="nav-link">Three</a>
				</div>

				<br>

				<div class="nav nav-control bg-warning">
					<a class="nav-link active">One</a>
					<a class="nav-link">Two</a>
					<a class="nav-link">Three</a>
				</div>

				<br>

				<div class="nav nav-control bg-danger">
					<a class="nav-link active">One</a>
					<a class="nav-link">Two</a>
					<a class="nav-link">Three</a>
				</div>

				<br>
			</div>
		</div>

	</body>
</html>
