<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>forms</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../../dist/css/rc.css" rel="stylesheet">
	</head>
	<body>

		<header class="bar bar-nav bar-light bg-faded">
		  <h1 class="title">Select menu</h1>
		</header>

		<div class="content">

			<form class="content-padded">

				<select class="custom-select">
				  <option selected>Open this select menu</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
				</select>

			</form>

		</div>

	</body>
</html>
