<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>popup</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

  	<link href="../../../dist/css/rc.css" rel="stylesheet">

  </head>

  <body>

		<header class="bar bar-nav bar-light bg-faded">
		  <h1 class="title">Events shown</h1>
		</header>

		<div class="content">
		  <div class="content-padded">

		    <button class="btn btn-primary btn-block" data-toggle="popup" data-target="#myPopup">Launch popup</button>

		  </div>
		</div>

		<!-- popup -->
		<div id="myPopup" class="popup zoom">
		  <div class="popup-content">
		    <header class="bar bar-nav bar-light bg-faded">
		      <a class="icon icon-close pull-right" data-history="back" role="button"></a>
		      <h1 class="title">Popup</h1>
		    </header>
		    <div class="content">
		      <p class="content-padded">The contents of my modal go here.</p>
		    </div>
		  </div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script src="../../../dist/js/rc.js"></script>

  </body>
</html>
