<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Badge</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../../dist/css/ratchet-plus.css" rel="stylesheet">

	</head>
	<body>

		<header class="bar bar-nav bar-light bg-faded">
		  <a href class="title">Inverted badges</a>
		</header>

		<div class="content">

			<div class="content-padded">

				<span class="badge badge-inverted">Normal</span>
				<span class="badge badge-default badge-inverted">Default</span>
				<span class="badge badge-primary badge-inverted">Primary</span>
				<span class="badge badge-success badge-inverted">Success</span>
				<span class="badge badge-info badge-inverted">Info</span>
				<span class="badge badge-warning badge-inverted">Warning</span>
				<span class="badge badge-danger badge-inverted">Danger</span>

			</div>
		</div>

	</body>
</html>
