<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>card</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../../dist/css/ratchet-plus.css" rel="stylesheet">

	</head>
	<body>

		<header class="bar bar-nav bar-light bg-faded">
		  <h1 class="title">image-overlays</h1>
		</header>

		<div class="content">

			<div class="card card-inverse">
			  <img class="card-img" src="http://placehold.it/318x180" alt="Card image">
			  <div class="card-img-overlay">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			  </div>
			</div>

		</div>



	</body>
</html>
