<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>card</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../../dist/css/rc.css" rel="stylesheet">

	</head>
	<body>

		<header class="bar bar-nav bar-light bg-faded">
		  <h1 class="title">outline-variants</h1>
		</header>

		<div class="content">

			<div class="card card-outline-primary text-xs-center">
			  <div class="card-block">
			    <blockquote class="card-blockquote">
			      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
			    </blockquote>
			  </div>
			</div>
			<div class="card card-outline-secondary text-xs-center">
			  <div class="card-block">
			    <blockquote class="card-blockquote">
			      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
			    </blockquote>
			  </div>
			</div>
			<div class="card card-outline-success text-xs-center">
			  <div class="card-block">
			    <blockquote class="card-blockquote">
			      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
			    </blockquote>
			  </div>
			</div>
			<div class="card card-outline-info text-xs-center">
			  <div class="card-block">
			    <blockquote class="card-blockquote">
			      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
			    </blockquote>
			  </div>
			</div>
			<div class="card card-outline-warning text-xs-center">
			  <div class="card-block">
			    <blockquote class="card-blockquote">
			      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
			    </blockquote>
			  </div>
			</div>
			<div class="card card-outline-danger text-xs-center">
			  <div class="card-block">
			    <blockquote class="card-blockquote">
			      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
			    </blockquote>
			  </div>
			</div>

		</div>



	</body>
</html>
