<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>card</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../../dist/css/ratchet-plus.css" rel="stylesheet">

	</head>
	<body>

		<header class="bar bar-nav bar-light bg-faded">
		  <h1 class="title">text-center</h1>
		</header>

		<div class="content">

			<div class="card text-xs-center">
			  <div class="card-header">
			    Featured
			  </div>
			  <div class="card-block">
			    <h4 class="card-title">Special title treatment</h4>
			    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			  <div class="card-footer text-muted">
			    2 days ago
			  </div>
			</div>

		</div>



	</body>
</html>
